<div class="board">
    <div *ngFor="let field of fields">
        <app-square [field]="field.number" [x]="getX(field.number)" [y]="getY(field.number)"
            [darkerTile]="isDarkerTile(field.number)" [isValidMove]="field.isValidMove"
            [isCheckMove]="field.isCheckMove" [playerHasLost]="field.playerHasLost">
            <div cdkDrag [cdkDragDisabled]="isDragDisabled(field.number)"
                (cdkDragMoved)="onDragMoved($event, field.number)" (cdkDragEnded)="onDragEnded($event, field.number)">
                <app-chess-piece cdkDragHandle cdkDragPosition="cdkDragPosition" *ngIf="hasAChessPiece(field.number)"
                    [chessPiece]=getChessPiece(field.number)>
                </app-chess-piece>
            </div>
        </app-square>
    </div>
</div>
