<div class="board">
    <div *ngFor="let field of fields">
        <app-square [field]="field.number" [x]="getX(field.number)" [y]="getY(field.number)"
            [darkerTile]="isDarkerTile(field.number)" [isValidMove]="field.isValidMove">
            <div cdkDrag (cdkDragMoved)="onDragMoved($event, field.number)"
                (cdkDragEnded)="onDragEnded($event, field.number)">
                <app-knight cdkDragHandle cdkDragPosition="cdkDragPosition" *ngIf="hasAKnight(field.number)"
                    [isBlack]=isChessPieceBlack(field.number)>

                </app-knight>
            </div>
        </app-square>
    </div>
</div>
