<ng-container *ngIf="knightPosition$|async as kp">
    <div class="board">
        <!-- cdkDropList (cdkDropListDropped)="onDrop($event, coordinates(field), field)" -->
        <div *ngFor="let field of fields" cdkDrag cdkDragBoundary=".board" (cdkDragEnded)="onDragEnded($event)">
            <app-square [black]="isBlack(coordinates(field))">
                <app-knight *ngIf="coordinates(field).x === kp.x && coordinates(field).y === kp.y">
                </app-knight>
            </app-square>
        </div>
    </div>
</ng-container>

<!-- <div class="board">
    <ng-container *ngIf="knightPosition$|async as kp"> -->
<!-- *ngIf="coordinates(i) as pos" -->
<!-- <app-square cdkDropList *ngFor="let field of fields" [black]="isBlack(coordinates(field))"
            (cdkDropListDropped)="handleSquareClick($event, coordinates(field), field)">
            <div cdkDrag> {{field}}</div> -->
<!-- <app-knight cdkDrag *ngIf="coordinates(i).x === kp.x && coordinates(i).y === kp.y">
            </app-knight> -->
<!-- </app-square>
    </ng-container>
</div> -->
